<a href="https://colab.research.google.com/github/joni901/e-commerce/blob/main/Toys_Company_data_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open(r'/content/sales_data_sample (1).csv', "r",encoding='latin1') as file:
  r_file = file.readlines()
  files=[]
  for line in r_file:
    substrings = line.split(',')
    files.append(substrings)
  print(files)

In [ ]:
table = {files[0][i]: [row[i] for row in files[2:]] for i in range(len(files[0]))}
table

In [ ]:
import pandas as pd

df=pd.DataFrame(table)

In [ ]:
df.shape

(2822, 25)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2822 entries, 0 to 2821
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2822 non-null   object
 1   QUANTITYORDERED   2822 non-null   object
 2   PRICEEACH         2822 non-null   object
 3   ORDERLINENUMBER   2822 non-null   object
 4   SALES             2822 non-null   object
 5   ORDERDATE         2822 non-null   object
 6   STATUS            2822 non-null   object
 7   QTR_ID            2822 non-null   object
 8   MONTH_ID          2822 non-null   object
 9   YEAR_ID           2822 non-null   object
 10  PRODUCTLINE       2822 non-null   object
 11  MSRP              2822 non-null   object
 12  PRODUCTCODE       2822 non-null   object
 13  CUSTOMERNAME      2822 non-null   object
 14  PHONE             2822 non-null   object
 15  ADDRESSLINE1      2822 non-null   object
 16  ADDRESSLINE2      2822 non-null   object
 17  CITY              2822 non-null   object
 18  STATE             2822 non-null   object
 19  POSTALCODE        2822 non-null   object
 20  COUNTRY           2822 non-null   object
 21  TERRITORY         2822 non-null   object
 22  CONTACTLASTNAME   2822 non-null   object
 23  CONTACTFIRSTNAME  2822 non-null   object
 24  DEALSIZE
         2822 non-null   object
dtypes: object(25)
memory usage: 551.3+ KB

In [ ]:
count=(df=='').sum().sum()
count

4082

In [ ]:
for d in df.columns:
  count_d=(df[d]=='').sum()
  print(f'{d}:{count_d}')

ORDERNUMBER:0
QUANTITYORDERED:0
PRICEEACH:0
ORDERLINENUMBER:0
SALES:0
ORDERDATE:0
STATUS:0
QTR_ID:0
MONTH_ID:0
YEAR_ID:0
PRODUCTLINE:0
MSRP:0
PRODUCTCODE:0
CUSTOMERNAME:0
PHONE:0
ADDRESSLINE1:0
ADDRESSLINE2:1368
CITY:954
STATE:667
POSTALCODE:901
COUNTRY:192
TERRITORY:0
CONTACTLASTNAME:0
CONTACTFIRSTNAME:0
DEALSIZE
:0

In [ ]:
group_result_postalcode = df.groupby('POSTALCODE')['CITY'].apply(lambda x: (x == "").sum()).reset_index(name='zero_city')

for index, row in group_result_postalcode.iterrows():
    if row['zero_city'] != 0:
        print(f"Postal Code {row['POSTALCODE']} has {row['zero_city']} empty CITY values.")

Postal Code  has 823 empty CITY values.
Postal Code BC has 26 empty CITY values.
Postal Code CA has 14 empty CITY values.
Postal Code PA has 21 empty CITY values.
Postal Code Queensland has 15 empty CITY values.
Postal Code Tokyo has 32 empty CITY values.
Postal Code Victoria has 23 empty CITY values.

In [ ]:
group_result_city = df.groupby('CITY')['POSTALCODE'].apply(lambda x: (x == "").sum()).reset_index(name='zero_code')

for index, row in group_result_city.iterrows():
    if row['zero_code'] != 0:
        print(f"City {row['CITY']} has {row['zero_code']} empty postal code values.")

City  has 823 empty postal code values.
City Floor No. 4 has 16 empty postal code values.
City San Francisco has 62 empty postal code values.

In [ ]:
group_result_address = df.groupby('ADDRESSLINE1')['POSTALCODE'].apply(lambda x: (x == "").sum()).reset_index(name='zero_address')

for index, row in group_result_address.iterrows():
    if row['zero_address'] != 0:
        print(f"Address {row['ADDRESSLINE1']} has {row['zero_address']} empty postal code values.")

Address "12 has 25 empty postal code values.
Address "184 has 20 empty postal code values.
Address "24 has 19 empty postal code values.
Address "25 has 27 empty postal code values.
Address "54 has 7 empty postal code values.
Address "67 has 71 empty postal code values.
Address "Boulevard Tirou has 8 empty postal code values.
Address "C/ Moralzarzal has 259 empty postal code values.
Address "Drammen 121 has 29 empty postal code values.
Address "Merchants House has 13 empty postal code values.
Address "Rambla de Catalu¤a has 23 empty postal code values.
Address "Software Engineering Center has 30 empty postal code values.
Address (171) 555-0297 has 26 empty postal code values.
Address (171) 555-1555 has 51 empty postal code values.
Address (171) 555-2282 has 29 empty postal code values.
Address (171) 555-7555 has 12 empty postal code values.
Address +353 1862 1555 has 16 empty postal code values.
Address +49 69 66 90 2555 has 22 empty postal code values.
Address +49 89 61 08 9555 has 14 empty postal code values.
Address 0221-5554327 has 26 empty postal code values.
Address 0897-034555 has 31 empty postal code values.
Address 0921-12 3555 has 19 empty postal code values.
Address 5557 North Pendale Street has 21 empty postal code values.
Address 7734 Strong St. has 41 empty postal code values.
Address 90-224 8555 has 30 empty postal code values.
Address 981-443655 has 32 empty postal code values.

In [ ]:
df.columns = df.columns.str.strip()

# Agora, faça o agrupamento
contagem_pares = df.groupby([ 'PRODUCTLINE','ORDERLINENUMBER']).size().reset_index(name='Contagem')

# Imprima o resultado
pd.set_option('display.max_rows', None)
print(contagem_pares)
pd.set_option('display.max_rows', None)

          PRODUCTLINE ORDERLINENUMBER  Contagem
0        Classic Cars               1       102
1        Classic Cars              10        50
2        Classic Cars              11        49
3        Classic Cars              12        41
4        Classic Cars              13        35
5        Classic Cars              14        26
6        Classic Cars              15        22
7        Classic Cars              16        12
8        Classic Cars              17         5
9        Classic Cars               2       101
10       Classic Cars               3        92
11       Classic Cars               4        91
12       Classic Cars               5        78
13       Classic Cars               6        82
14       Classic Cars               7        58
15       Classic Cars               8        63
16       Classic Cars               9        60
17        Motorcycles               1        44
18        Motorcycles              10        10
19        Motorcycles              11        10
20        Motorcycles              12        12
21        Motorcycles              13        10
22        Motorcycles              14         8
23        Motorcycles              15         5
24        Motorcycles              16         5
25        Motorcycles              17         4
26        Motorcycles              18         1
27        Motorcycles               2        36
28        Motorcycles               3        35
29        Motorcycles               4        35
30        Motorcycles               5        33
31        Motorcycles               6        27
32        Motorcycles               7        20
33        Motorcycles               8        19
34        Motorcycles               9        16
35             Planes               1        31
36             Planes              10        19
37             Planes              11        16
38             Planes              12        15
39             Planes              13        10
40             Planes              14        12
41             Planes              15        10
42             Planes              16         7
43             Planes              17         5
44             Planes              18         3
45             Planes               2        27
46             Planes               3        26
47             Planes               4        27
48             Planes               5        19
49             Planes               6        18
50             Planes               7        17
51             Planes               8        24
52             Planes               9        20
53              Ships               1        23
54              Ships              10        13
55              Ships              11         7
56              Ships              12         6
57              Ships              13        12
58              Ships              14         5
59              Ships              15         7
60              Ships              16         6
61              Ships              17         1
62              Ships              18         4
63              Ships               2        20
64              Ships               3        20
65              Ships               4        24
66              Ships               5        24
67              Ships               6        15
68              Ships               7        22
69              Ships               8        12
70              Ships               9        13
71             Trains               1         6
72             Trains              10         2
73             Trains              11         6
74             Trains              12         1
75             Trains              13         2
76             Trains              14         4
77             Trains              15         4
78             Trains              16         1
79             Trains              17         2
80             Trains               2         6
81             Trains               3         5
82             Trains               4        12
83             Trains               5         3
84             Trains               6         9
85             Trains               7         7
86             Trains               8         2
87             Trains               9         5
88   Trucks and Buses               1        31
89   Trucks and Buses              10        23
90   Trucks and Buses              11        15
91   Trucks and Buses              12        10
92   Trucks and Buses              13         9
93   Trucks and Buses              14         5
94   Trucks and Buses              15         1
95   Trucks and Buses              16         1
96   Trucks and Buses              17         1
97   Trucks and Buses              18         1
98   Trucks and Buses               2        26
99   Trucks and Buses               3        35
100  Trucks and Buses               4        19
101  Trucks and Buses               5        33
102  Trucks and Buses               6        19
103  Trucks and Buses               7        29
104  Trucks and Buses               8        28
105  Trucks and Buses               9        15
106      Vintage Cars               1        70
107      Vintage Cars              10        24
108      Vintage Cars              11        25
109      Vintage Cars              12        25
110      Vintage Cars              13        19
111      Vintage Cars              14        21
112      Vintage Cars              15         7
113      Vintage Cars              16        10
114      Vintage Cars              17         7
115      Vintage Cars              18         1
116      Vintage Cars               2        74
117      Vintage Cars               3        57
118      Vintage Cars               4        48
119      Vintage Cars               5        49
120      Vintage Cars               6        51
121      Vintage Cars               7        44
122      Vintage Cars               8        39
123      Vintage Cars               9        36

In [ ]:
pd.set_option('display.max_columns', None)
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE\n
0,10121,34,81.35,5,2765.9,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,,Reims,,51100,France,EMEA,Henriot,Paul,Small\n
1,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,,Paris,,75508,France,EMEA,Da Cunha,Daniel,Medium\n
2,10145,45,83.26,6,3746.7,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,,Pasadena,CA,90003,USA,NA,Young,Julie,Medium\n
3,10159,49,100,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,,San Francisco,CA,,USA,NA,Brown,Julie,Medium\n
4,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,,Burlingame,CA,94217,USA,NA,Hirano,Juri,Medium\n

Delet:
ORDERLINENUMBER
PRODUCTCODE
PHONE
ADDRESSLINE2
TERRITORY
CONTACTFIRSTNAME

In [ ]:
new_df=df.drop(['ORDERNUMBER', 'PRODUCTCODE' ,'PHONE' ,'ADDRESSLINE2' ,'TERRITORY' ,'CONTACTFIRSTNAME'], axis=1)
new_df.head()

,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,CUSTOMERNAME,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,DEALSIZE
0,34,81.35,5,2765.9,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,Reims Collectables,59 rue de l'Abbaye,Reims,,51100,France,Henriot,Small\n
1,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,95,Lyon Souveniers,27 rue du Colonel Pierre Avia,Paris,,75508,France,Da Cunha,Medium\n
2,45,83.26,6,3746.7,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,Toys4GrownUps.com,78934 Hillside Dr.,Pasadena,CA,90003,USA,Young,Medium\n
3,49,100,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,Corporate Gift Ideas Co.,7734 Strong St.,San Francisco,CA,,USA,Brown,Medium\n
4,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,Motorcycles,95,Technics Stores Inc.,9408 Furth Circle,Burlingame,CA,94217,USA,Hirano,Medium\n

In [ ]:
new_df.to_csv('DataMining.csv', index=False)